//Radio - base style

@mixin radio {
  .#{$prefix}radio {
    opacity: 0;

    + .#{$prefix}radio__label {
      @extend %typo-normal-body1;
      position: relative;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        left: -30px;

        /* Fixed alignment in some browsers. */
        top: -1px;
        border-radius: 50%;
        border: 2px solid map-deep-get($guidelines, 'color', 'font');
        width: 18px;
        height: 18px;
      }

      &::after {
        content: '';
        position: absolute;
        left: -23px;
        top: 6px;
        border-radius: 50%;
        width: 8px;
        height: 8px;
      }
    }

    &:checked {
      + .#{$prefix}radio__label::before {
        @include themify($color_themes) {
          background: themed('primary');
          border: 2px solid themed('primary');
        }
      }
      + .#{$prefix}radio__label::after {
        @include themify($color_themes) {
          background: themed('buttonText');
        }

        /* The background is removed in Windows high-contrast mode, so we
           need to set it explicitly here. `WindowText` is a system color
           that should work with whatever high contrast mode the user
           has set. */
        @media screen and (-ms-high-contrast: active) {
          & {
            background: WindowText;
          }
        }
      }
    }

    &:focus {
      + .#{$prefix}radio__label::before {
        @include themify($color_themes) {
          box-shadow: 0 0 5px 1px themed('primary');
          /* Since box shadows don't show up in high contrast mode,
             we're adding a transparent outline (which does show up). */
          outline: 2px dotted transparent;
        }
      }
    }
  }
}

@include exports('radio') {
  @include radio;
}
