// COLORS

$colormap-base: (
  indigo-blue: #27166f,
  cat-yellow: #f0b823,
  rental-red: #af0e0e,
  gray-dark: #101111,
  gray-mid-dark: #373d3f,
  gray: #464a4c,
  gray-light: #6f7c80,
  gray-lighter: #eceeef,
  gray-mid: #f2f3f4,
  gray-lightest: #f7f7f9,
  white: #ffffff,
  success: #5cb85c,
  warning: #f0ad4e,
  alert: #ff6562,
  info: #5bc0de
);

// additiona colors - currently not in zep color palette:
// TODO: clarify usage or change for production
$additional-gray-1: #c1c7c9;

/* FIXME: don 't use additional color in production */
$theme-color-map: (
  button-primary: map-get($colormap-base, white),
  button-primary--disabled: $additional-gray-1,
  button-secondary: map-get($colormap-base, grey-dark),
  button-secondary--hover: map-get($colormap-base, white),
  button-secondary--disabled: $additional-gray-1
);

$theme-background-color-map: (
  button-primary: map-get($colormap-base, indigo-blue),
  button-primary--disabled: map-get($colormap-base, gray-lighter),
  button-secondary: map-get($colormap-base, white),
  button-secondary--hover: map-get($colormap-base, indigo-blue),
  button-secondary--disabled: map-get($colormap-base, white)
);

$theme-border-color-map: (
  button-secondary: map-get($colormap-base, indigo-blue),
  button-secondary--disabled: map-get($colormap-base, gray-lighter)
);

//use darken 15% on hover colors
$hover-example: darken(map-get($colormap-base, indigo-blue), 15%);

// create dummy color classes
@each $name, $value in $colormap-base {
  .#{$prefix}color--#{$name} {
    color: $value;
  }
  .#{$prefix}background-color--#{$name} {
    background-color: $value;
  }
  .#{$prefix}border-color--#{$name} {
    border-color: $value;
  }
}
