// COLORS

$colormap-base: (
  indigo-blue: get('colors.primary.indigoBlue.hex'),
  cat-yellow: get('colors.primary.catYellow.hex'),
  rental-red: get('colors.primary.rentalRed.hex'),
  zlab-blue: get('colors.primary.zlabBlue.hex'),
  cat-yellow-lightest: get('colors.secondary.catYellowLightest.hex'),
  cat-yellow-lighter: get('colors.secondary.catYellowLighter.hex'),
  cat-yellow-darker: get('colors.secondary.catYellowDarker.hex'),
  indigo-blue-lighter: get('colors.secondary.indigoBlueLighter.hex'),
  black: get('colors.gray.black.hex'),
  gray-dark: get('colors.gray.grayDark.hex'),
  gray-mid-dark: get('colors.gray.grayMidDark.hex'),
  gray: get('colors.gray.gray.hex'),
  text-gray: get('colors.gray.textGray.hex'),
  gray-light: get('colors.gray.grayLight.hex'),
  disabled: get('colors.gray.disabled.hex'),
  gray-lighter: get('colors.gray.grayLighter.hex'),
  gray-mid: get('colors.gray.grayMid.hex'),
  gray-lightest: get('colors.gray.grayLightest.hex'),
  white: get('colors.gray.white.hex'),
  success: get('colors.support.success.hex'),
  success-lighter: get('colors.support.successLighter.hex'),
  warning: get('colors.support.warning.hex'),
  warning-lighter: get('colors.support.warningLighter.hex'),
  alert: get('colors.support.alert.hex'),
  alert-lighter: get('colors.support.alertLighter.hex'),
  info: get('colors.support.info.hex'),
  info-lighter: get('colors.support.infoLighter.hex'),
  xing: get('colors.socialMedia.xing.hex'),
  facebook: get('colors.socialMedia.facebook.hex'),
  twitter: get('colors.socialMedia.twitter.hex'),
  linkedin: get('colors.socialMedia.linkedin.hex'),
  kununu: get('colors.socialMedia.kununu.hex'),
  youtube: get('colors.socialMedia.youtube.hex'),
  googleplus: get('colors.socialMedia.googleplus.hex')
);

// create dummy color classes
@each $name, $value in $colormap-base {
  .#{$prefix}color--#{$name} {
    color: $value;
  }
  .#{$prefix}background-color--#{$name} {
    background-color: $value;
  }
  .#{$prefix}border-color--#{$name} {
    border-color: $value;
  }
}
