// this grid should be only implemented on full browser width elements!

// values: colums, margin, gutter
$grid-values-map: (
  xs: (
    6,
    32px,
    32px
  ),
  s: (
    6,
    48px,
    32px
  ),
  m: (
    8,
    64px,
    32px
  ),
  l: (
    12,
    64px,
    32px
  ),
  xl: (
    12,
    auto,
    32px
  )
);

$gutter: 24px;
$h-margin: 24px;
$max-h-margin: 64px;

.#{$prefix}grid {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: $h-margin;
  margin-right: $h-margin;

  // set horizontal margin of grid container
  @each $screensize, $valuelist in $grid-values-map {
    @include breakpoint--min(#{$screensize}) {
      $margin: nth($valuelist, 2);
      margin-left: $margin;
      margin-right: $margin;

      // !! this grid should be only implemented on full browser width elements!
      @if $margin == auto {
        min-width: calc(
          #{map-get($min-screensize-map, $screensize)}px -
            (#{$max-h-margin} * 2)
        );
      } @else {
        min-width: calc(
          #{map-get($min-screensize-map, $screensize)}px - (#{$margin} * 2)
        );
      }
    }
  }

  // get grid max screen with from style-basics/_breakpoints.scss
  max-width: #{map-get($min-screensize-map, xl)}px;

  border: 1px solid blue;

  &:after,
  &:before {
    content: '';
    clear: both;
    display: table;
  }
}

.#{$prefix}grid--no-h-margin {
  $h-margin: 0;
  margin-left: $h-margin;
  margin-right: $h-margin;
}

.#{$prefix}grid__row {
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @each $screensize, $valuelist in $grid-values-map {
    @include breakpoint--min(#{$screensize}) {
      $gutter: nth($valuelist, 3);
      $half-gutter: $gutter / 2;

      // use negative margin to clear gutter on the first/left and last/right elements
      margin-left: -#{$half-gutter};
      margin-right: -#{$half-gutter};
    }
  }

  &:after,
  &:before {
    content: '';
    display: table;
    clear: both;
  }
}

.#{$prefix}grid__col {
  // float is only for non flexbox browsers and overwritten by flex properties in modern browsers
  position: relative;
  display: block;
  float: left;
  flex-shrink: 1;
  border: 1px green solid;
}

$max-cols: 12;
$min-cols: 4;

// set col width
@for $i from 1 through $max-cols {
  .#{$prefix}grid__col--#{$i}-#{$max-cols} {
    $cols: $min-cols;

    // -1px = floor calculated percentages workaround for IE9+
    width: calc((100% - 1px) / #{$cols} * #{$i});

    @supports (display: flex) {
      width: calc(100% / #{$cols} * #{$i});
    }

    // use col padding as gutter
    padding: 0 ($gutter / 2);

    @each $screensize, $valuelist in $grid-values-map {
      @include breakpoint--min(#{$screensize}) {
        $cols: nth($valuelist, 1);

        // gutter changes with breakpoint
        $gutter: nth($valuelist, 3);

        $current-cols: $i;
        @if $current-cols > $cols {
          $current-cols: $cols;
        }

        // -1px = floor calculated percentages workaround for IE9+
        width: calc((100% - 1px) / #{$cols} * #{$current-cols});

        // use col padding as gutter
        padding: 0 ($gutter / 2);

        @supports (display: flex) {
          width: calc(100% / #{$cols} * #{$i});
        }
      }
    }
  }
}
