@mixin typo(
  $_font-size,
  $_font-weight,
  $_line-height,
  $_text-transform,
  $_letter-spacing,
  $_font-family
) {
  font-size: $_font-size;
  font-weight: $_font-weight;
  line-height: $_line-height;
  text-transform: $_text-transform;
  letter-spacing: $_letter-spacing;
  font-family: '#{$_font-family}', sans-serif;
}

// DISPLAY
$typo-display-fontsize-list: (5rem, 4rem, 3rem, 2.25rem, 1.5rem, 0.875rem);
$typo-display-lineheight-list: (5.5rem, 4.5rem, 3.5rem, 2.75rem, 2rem, 1.25rem);
$typo-display-letterspacing-list: (0.6px, 0.6px, 0.6px, 0.6px, 1px, 1px);

@for $i from 1 through (length($typo-display-fontsize-list)) {
  %typo-display-#{$i} {
    @include typo(
      nth($typo-display-fontsize-list, $i),
      700,
      nth($typo-display-lineheight-list, $i),
      uppercase,
      nth($typo-display-letterspacing-list, $i),
      Roboto Condensed
    );
  }
  .#{$prefix}typo--display-#{$i} {
    @extend %typo-display-#{$i};
    color: map-deep-get($guidelines, 'color', 'font');
  }
  .#{$prefix}typo--display-#{$i}-negative {
    @extend %typo-display-#{$i};
    color: map-deep-get($guidelines, 'color', 'fontNegative');
  }
}

// NORMAL
$typo-normal-names: (
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  body1,
  body2,
  caption,
  button1,
  button2
);
$typo-bold-names: (h1, h2, h3, h4, h5, h6, body1, body2, caption);
$typo-normal-fontsize-list: (
  2.5rem,
  2.25rem,
  1.75rem,
  1.5rem,
  1.25rem,
  1.125rem,
  1rem,
  0.875rem,
  0.75rem,
  1rem,
  1rem
);
$typo-normal-fontfamily-list: (
  Roboto,
  Roboto,
  Roboto,
  Roboto,
  Roboto,
  Roboto,
  Roboto,
  Roboto,
  Roboto,
  Roboto,
  Roboto
);
$typo-normal-lineheight-list: (
  3.75rem,
  3.25rem,
  2.5rem,
  2.25rem,
  2rem,
  1.75rem,
  1.75rem,
  1.5rem,
  1.25rem,
  1.25rem,
  1.25rem
);
$typo-normal-letterspacing-list: (
  0.4px,
  0.4px,
  0.4px,
  0px,
  0px,
  0px,
  0px,
  0px,
  0px,
  1.25px,
  0.75px
);
$typo-normal-fontweight-list: (
  300,
  300,
  300,
  400,
  400,
  400,
  400,
  400,
  400,
  500,
  500
);
$typo-normal-texttransform-list: (
  none,
  none,
  none,
  none,
  none,
  none,
  none,
  none,
  none,
  uppercase,
  none
);
$typo-bold-fontweight-list: (500, 500, 500, 700, 700, 700, 700, 700, 700);

@for $i from 1 through (length($typo-normal-names)) {
  %typo-normal-#{nth($typo-normal-names, $i)} {
    @include typo(
      nth($typo-normal-fontsize-list, $i),
      nth($typo-normal-fontweight-list, $i),
      nth($typo-normal-lineheight-list, $i),
      nth($typo-normal-texttransform-list, $i),
      nth($typo-normal-letterspacing-list, $i),
      nth($typo-normal-fontfamily-list, $i)
    );
  }
  .#{$prefix}typo--normal-#{nth($typo-normal-names, $i)} {
    @extend %typo-normal-#{nth($typo-normal-names, $i)};
    color: #111111;
  }
  .#{$prefix}typo--normal-#{nth($typo-normal-names, $i)}-negative {
    @extend %typo-normal-#{nth($typo-normal-names, $i)};
    color: #eeeeee;
  }
}

// bold subset of normal
@for $i from 1 through (length($typo-bold-names)) {
  %typo-bold-#{nth($typo-normal-names, $i)} {
    @include typo(
      nth($typo-normal-fontsize-list, $i),
      nth($typo-bold-fontweight-list, $i),
      nth($typo-normal-lineheight-list, $i),
      'none',
      nth($typo-normal-letterspacing-list, $i),
      Roboto
    );
  }
  .#{$prefix}typo--bold-#{nth($typo-normal-names, $i)} {
    @extend %typo-bold-#{nth($typo-normal-names, $i)};
    color: #111111;
  }
  .#{$prefix}typo--bold-#{nth($typo-normal-names, $i)}-negative {
    @extend %typo-bold-#{nth($typo-normal-names, $i)};
    color: #eeeeee;
  }
}
