@mixin checkbox {
  $border-color: map-deep-get($guidelines, 'color', black, 84);
  $border-color--disabled: map-deep-get($guidelines, 'color', black, 40);

  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0.0625rem rgba(0, 0, 0, 0);
    }
    50% {
      box-shadow: 0 0 0 0.625rem rgba(0, 0, 0, 0.1);
    }
    100% {
      box-shadow: 0 0 0 0.625rem rgba(0, 0, 0, 0);
    }
  }
  .#{$prefix}checkbox {
    position: absolute !important;
    height: 0.0625rem;
    width: 0.0625rem;
    overflow: hidden;
    clip: rect(0.0625rem 0.0625rem 0.0625rem 0.0625rem); /* IE6, IE7 */
    clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
  }

  .#{$prefix}checkbox + .#{$prefix}checkbox__label {
    @extend .#{$prefix}typo--body-default;
    display: block;
    position: relative;
  }

  .#{$prefix}checkbox + .#{$prefix}checkbox__label::before {
    content: '';
    position: relative;
    display: inline-block;
    margin-right: 0.625rem;
    border-radius: 0.25rem;
    border: 0.125rem solid $border-color;
    width: 1.125rem;
    height: 1.125rem;
    top: 0.375rem;
  }

  .#{$prefix}checkbox:checked + .#{$prefix}checkbox__label::before {
    background: map-deep-get($guidelines, 'color', 'global', white);
    border: 0.125rem solid $border-color;
  }

  .#{$prefix}checkbox:checked + .#{$prefix}checkbox__label::after {
    content: '';
    position: absolute;
    top: 0.8125rem;
    left: 0.3125rem;
    height: 0.1875rem;
    width: 0.625rem;
    transform: rotate(-45deg);
    border-left: 0.125rem solid $border-color;
    border-bottom: 0.125rem solid $border-color;
  }

  .#{$prefix}checkbox:focus + .#{$prefix}checkbox__label::before {
    animation: ripple 0.4s ease-in-out;
  }

  .#{$prefix}checkbox:disabled + .#{$prefix}checkbox__label {
    color: $border-color--disabled;
  }

  .#{$prefix}checkbox:disabled + .#{$prefix}checkbox__label::before {
    background: map-deep-get($guidelines, 'color', 'global', 'almostWhite');
    border: 0.125rem solid $border-color--disabled;
    color: $border-color--disabled;
  }
}

@include exports('checkbox') {
  @include checkbox;
}
