@mixin checkbox {
  .#{$prefix}checkbox {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }

  .#{$prefix}checkbox + .#{$prefix}checkbox__label {
    @extend %typo-normal-body1;
    display: block;
    position: relative;
  }

  .#{$prefix}checkbox + .#{$prefix}checkbox__label::before {
    content: '';
    position: relative;
    display: inline-block;
    margin-right: 10px;
    border-radius: 4px;
    border: 2px solid map-deep-get($guidelines, 'color', 'font');
    width: 18px;
    height: 18px;
    top: 6px;
  }

  .#{$prefix}checkbox:checked + .#{$prefix}checkbox__label::before {
    @include themify($color_themes) {
      background: themed('primary');
    }
  }

  .#{$prefix}checkbox:checked + .#{$prefix}checkbox__label::after {
    content: '';
    position: absolute;
    top: 13px;
    left: 5px;
    height: 3px;
    width: 10px;
    transform: rotate(-45deg);
    @include themify($color_themes) {
      border-left: 2px solid themed('buttonText');
      border-bottom: 2px solid themed('buttonText');
    }
  }

  .#{$prefix}checkbox:focus + .#{$prefix}checkbox__label::before {
    @include themify($color_themes) {
      box-shadow: 0 0px 8px themed('primary');
      border-radius: 4px;
    }
  }

  .#{$prefix}checkbox:disabled + .#{$prefix}checkbox__label {
    color: map-deep-get($guidelines, 'color', 'global', lightGray);
  }

  .#{$prefix}checkbox:disabled + .#{$prefix}checkbox__label::before {
    background: map-deep-get($guidelines, 'color', 'global', 'almostWhite');
    border: 2px solid map-deep-get($guidelines, 'color', 'global', lightGray);
    color: map-deep-get($guidelines, 'color', 'global', lightGray);
  }
}

@include exports('checkbox') {
  @include checkbox;
}
