@mixin checkbox {
  $lineHeight: 2.125rem;
  $fontSize: 36px;
  // strip the units (expecting a px value, but remove so we've just got an int)
  $baseFont: ($fontSize) / ($fontSize * 0 + 1);
  // ensure our base is a rem val
  $base: ($lineHeight) / ($lineHeight * 0 + 1) * 1rem;
  // get our borderwidth in rems
  $borderWidth: (2 / (2 * 0 + 1) / $baseFont) * 1rem;
  $boxSize: $base/1.7;

  .#{$prefix}checkbox {
    .#{$prefix}checkbox__label {
      @extend %typo-normal-body1;
      cursor: pointer;
      color: map-deep-get($guidelines, 'color', 'font');
      position: relative;
      display: inline-block;
      padding-left: 1.75rem;
      margin-bottom: 0;
      &:before,
      &:after {
        box-sizing: border-box;
        line-height: $base;
        content: ' ';
        display: block;
        position: absolute;
        top: 16%;
        left: 0;
        right: 0;
        bottom: 0;
        width: $boxSize;
        height: $boxSize;
        border-radius: 0;
      }
      &:before {
        cursor: pointer;
        width: ($boxSize) + $borderWidth * 2;
        height: ($boxSize) + $borderWidth * 2;
        margin: -$borderWidth;
        border: 2px solid map-deep-get($guidelines, 'color', 'font');
        border-radius: 0;
      }
    }

    /* hide the input element */
    .#{$prefix}checkbox__input {
      opacity: 0;
      &:disabled + .#{$prefix}checkbox__label {
        cursor: not-allowed;
        color: map-deep-get($guidelines, 'color', 'global', lightGray);
      }

      &:disabled + .#{$prefix}checkbox__label:before {
        border: 2px solid
          map-deep-get($guidelines, 'color', 'global', lightGray);
      }

      @include themify($color_themes) {
        &:checked + .#{$prefix}checkbox__label:before {
          content: '\2713';
          position: absolute;
          top: 16%;
          left: 0;
          right: 0;
          bottom: 0;
          display: inline-block;
          background: transparent;
          line-height: 1; //$boxSize + $borderWidth;
          font-size: 1.125rem;
          text-align: center;
          transform: scale(1);
          color: themed('primary');
        }
        &:checked:focus + .#{$prefix}checkbox__label:before {
          box-shadow: 0 0 5px 1px themed('primary');
        }
        &:active + .#{$prefix}checkbox__label:before {
          background: themed('hover');
        }
      }
    }
  }
}

@include exports('checkbox') {
  @include checkbox;
}
