//just for testing

.zep-button {
  border: 0;
  background: transparent;
  outline: 0;
  text-align: left;
  font-family: 'Roboto';

  // temporary values - TODO: delete/refactor
  color: map-get($colormap-base, grey-mid-dark);
  font-size: 0.875rem;
  padding: 0.75rem;
  //
}

.zep-button__full {
  display: block;
  width: 100%;
}
