/* Icons from directory "" */
.icon-icon_arrow_chevron_down,.icon-icon_arrow_chevron_down\:regular{background-image:url('icons/icons.png');background-position:0 0;background-repeat:no-repeat}
.icon-icon_arrow_chevron_down-dims{width:24px;height:24px}
.icon-icon_arrow_chevron_left,.icon-icon_arrow_chevron_left\:regular{background-image:url('icons/icons.png');background-position:0 -24px;background-repeat:no-repeat}
.icon-icon_arrow_chevron_left-dims{width:24px;height:24px}
.icon-icon_arrow_chevron_right,.icon-icon_arrow_chevron_right\:regular{background-image:url('icons/icons.png');background-position:0 -48px;background-repeat:no-repeat}
.icon-icon_arrow_chevron_right-dims{width:24px;height:24px}
.icon-icon_arrow_chevron_up,.icon-icon_arrow_chevron_up\:regular{background-image:url('icons/icons.png');background-position:0 -72px;background-repeat:no-repeat}
.icon-icon_arrow_chevron_up-dims{width:24px;height:24px}
.icon-icon_arrow_down,.icon-icon_arrow_down\:regular{background-image:url('icons/icons.png');background-position:0 -96px;background-repeat:no-repeat}
.icon-icon_arrow_down-dims{width:24px;height:24px}
.icon-icon_arrow_left,.icon-icon_arrow_left\:regular{background-image:url('icons/icons.png');background-position:0 -120px;background-repeat:no-repeat}
.icon-icon_arrow_left-dims{width:24px;height:24px}
.icon-icon_arrow_right,.icon-icon_arrow_right\:regular{background-image:url('icons/icons.png');background-position:0 -144px;background-repeat:no-repeat}
.icon-icon_arrow_right-dims{width:24px;height:24px}
.icon-icon_arrow_up,.icon-icon_arrow_up\:regular{background-image:url('icons/icons.png');background-position:0 -168px;background-repeat:no-repeat}
.icon-icon_arrow_up-dims{width:24px;height:24px}
.icon-icon_communication_email,.icon-icon_communication_email\:regular{background-image:url('icons/icons.png');background-position:0 -192px;background-repeat:no-repeat}
.icon-icon_communication_email-dims{width:24px;height:24px}
.icon-icon_communication_phone,.icon-icon_communication_phone\:regular{background-image:url('icons/icons.png');background-position:0 -216px;background-repeat:no-repeat}
.icon-icon_communication_phone-dims{width:24px;height:24px}
.icon-icon_ecom_cart,.icon-icon_ecom_cart\:regular{background-image:url('icons/icons.png');background-position:0 -240px;background-repeat:no-repeat}
.icon-icon_ecom_cart-dims{width:24px;height:24px}
.icon-icon_ecom_offer,.icon-icon_ecom_offer\:regular{background-image:url('icons/icons.png');background-position:0 -264px;background-repeat:no-repeat}
.icon-icon_ecom_offer-dims{width:24px;height:24px}
.icon-icon_essential_add,.icon-icon_essential_add\:regular{background-image:url('icons/icons.png');background-position:0 -288px;background-repeat:no-repeat}
.icon-icon_essential_add-dims{width:24px;height:24px}
.icon-icon_essential_avatar,.icon-icon_essential_avatar\:regular{background-image:url('icons/icons.png');background-position:0 -312px;background-repeat:no-repeat}
.icon-icon_essential_avatar-dims{width:24px;height:24px}
.icon-icon_essential_check,.icon-icon_essential_check\:regular{background-image:url('icons/icons.png');background-position:0 -336px;background-repeat:no-repeat}
.icon-icon_essential_check-dims{width:24px;height:24px}
.icon-icon_essential_check_small,.icon-icon_essential_check_small\:regular{background-image:url('icons/icons.png');background-position:0 -360px;background-repeat:no-repeat}
.icon-icon_essential_check_small-dims{width:24px;height:24px}
.icon-icon_essential_close,.icon-icon_essential_close\:regular{background-image:url('icons/icons.png');background-position:0 -384px;background-repeat:no-repeat}
.icon-icon_essential_close-dims{width:24px;height:24px}
.icon-icon_essential_delete,.icon-icon_essential_delete\:regular{background-image:url('icons/icons.png');background-position:0 -408px;background-repeat:no-repeat}
.icon-icon_essential_delete-dims{width:24px;height:24px}
.icon-icon_essential_download,.icon-icon_essential_download\:regular{background-image:url('icons/icons.png');background-position:0 -432px;background-repeat:no-repeat}
.icon-icon_essential_download-dims{width:24px;height:24px}
.icon-icon_essential_edit,.icon-icon_essential_edit\:regular{background-image:url('icons/icons.png');background-position:0 -456px;background-repeat:no-repeat}
.icon-icon_essential_edit-dims{width:24px;height:24px}
.icon-icon_essential_expand,.icon-icon_essential_expand\:regular{background-image:url('icons/icons.png');background-position:0 -480px;background-repeat:no-repeat}
.icon-icon_essential_expand-dims{width:24px;height:24px}
.icon-icon_essential_filter_1,.icon-icon_essential_filter_1\:regular{background-image:url('icons/icons.png');background-position:0 -504px;background-repeat:no-repeat}
.icon-icon_essential_filter_1-dims{width:24px;height:24px}
.icon-icon_essential_filter_2,.icon-icon_essential_filter_2\:regular{background-image:url('icons/icons.png');background-position:0 -528px;background-repeat:no-repeat}
.icon-icon_essential_filter_2-dims{width:24px;height:24px}
.icon-icon_essential_hide,.icon-icon_essential_hide\:regular{background-image:url('icons/icons.png');background-position:0 -552px;background-repeat:no-repeat}
.icon-icon_essential_hide-dims{width:24px;height:24px}
.icon-icon_essential_home,.icon-icon_essential_home\:regular{background-image:url('icons/icons.png');background-position:0 -576px;background-repeat:no-repeat}
.icon-icon_essential_home-dims{width:24px;height:24px}
.icon-icon_essential_home_filled,.icon-icon_essential_home_filled\:regular{background-image:url('icons/icons.png');background-position:0 -600px;background-repeat:no-repeat}
.icon-icon_essential_home_filled-dims{width:24px;height:24px}
.icon-icon_essential_loading_spinner,.icon-icon_essential_loading_spinner\:regular{background-image:url('icons/icons.png');background-position:0 -624px;background-repeat:no-repeat}
.icon-icon_essential_loading_spinner-dims{width:24px;height:24px}
.icon-icon_essential_login,.icon-icon_essential_login\:regular{background-image:url('icons/icons.png');background-position:0 -648px;background-repeat:no-repeat}
.icon-icon_essential_login-dims{width:24px;height:24px}
.icon-icon_essential_logout,.icon-icon_essential_logout\:regular{background-image:url('icons/icons.png');background-position:0 -672px;background-repeat:no-repeat}
.icon-icon_essential_logout-dims{width:24px;height:24px}
.icon-icon_essential_menu,.icon-icon_essential_menu\:regular{background-image:url('icons/icons.png');background-position:0 -696px;background-repeat:no-repeat}
.icon-icon_essential_menu-dims{width:24px;height:24px}
.icon-icon_essential_mobile_phone,.icon-icon_essential_mobile_phone\:regular{background-image:url('icons/icons.png');background-position:0 -720px;background-repeat:no-repeat}
.icon-icon_essential_mobile_phone-dims{width:24px;height:24px}
.icon-icon_essential_print,.icon-icon_essential_print\:regular{background-image:url('icons/icons.png');background-position:0 -744px;background-repeat:no-repeat}
.icon-icon_essential_print-dims{width:24px;height:24px}
.icon-icon_essential_remove,.icon-icon_essential_remove\:regular{background-image:url('icons/icons.png');background-position:0 -768px;background-repeat:no-repeat}
.icon-icon_essential_remove-dims{width:24px;height:24px}
.icon-icon_essential_search,.icon-icon_essential_search\:regular{background-image:url('icons/icons.png');background-position:0 -792px;background-repeat:no-repeat}
.icon-icon_essential_search-dims{width:24px;height:24px}
.icon-icon_essential_settings,.icon-icon_essential_settings\:regular{background-image:url('icons/icons.png');background-position:0 -816px;background-repeat:no-repeat}
.icon-icon_essential_settings-dims{width:24px;height:24px}
.icon-icon_essential_shrink,.icon-icon_essential_shrink\:regular{background-image:url('icons/icons.png');background-position:0 -840px;background-repeat:no-repeat}
.icon-icon_essential_shrink-dims{width:24px;height:24px}
.icon-icon_essential_sort,.icon-icon_essential_sort\:regular{background-image:url('icons/icons.png');background-position:0 -864px;background-repeat:no-repeat}
.icon-icon_essential_sort-dims{width:24px;height:24px}
.icon-icon_essential_star,.icon-icon_essential_star\:regular{background-image:url('icons/icons.png');background-position:0 -888px;background-repeat:no-repeat}
.icon-icon_essential_star-dims{width:24px;height:24px}
.icon-icon_essential_star_filled,.icon-icon_essential_star_filled\:regular{background-image:url('icons/icons.png');background-position:0 -912px;background-repeat:no-repeat}
.icon-icon_essential_star_filled-dims{width:24px;height:24px}
.icon-icon_essential_substract,.icon-icon_essential_substract\:regular{background-image:url('icons/icons.png');background-position:0 -936px;background-repeat:no-repeat}
.icon-icon_essential_substract-dims{width:24px;height:24px}
.icon-icon_essential_vertical_menu,.icon-icon_essential_vertical_menu\:regular{background-image:url('icons/icons.png');background-position:0 -960px;background-repeat:no-repeat}
.icon-icon_essential_vertical_menu-dims{width:24px;height:24px}
.icon-icon_essential_vertical_menu_filled,.icon-icon_essential_vertical_menu_filled\:regular{background-image:url('icons/icons.png');background-position:0 -984px;background-repeat:no-repeat}
.icon-icon_essential_vertical_menu_filled-dims{width:24px;height:24px}
.icon-icon_essential_view,.icon-icon_essential_view\:regular{background-image:url('icons/icons.png');background-position:0 -1008px;background-repeat:no-repeat}
.icon-icon_essential_view-dims{width:24px;height:24px}
.icon-icon_essential_world,.icon-icon_essential_world\:regular{background-image:url('icons/icons.png');background-position:0 -1032px;background-repeat:no-repeat}
.icon-icon_essential_world-dims{width:24px;height:24px}
.icon-icon_location_dot,.icon-icon_location_dot\:regular{background-image:url('icons/icons.png');background-position:0 -1056px;background-repeat:no-repeat}
.icon-icon_location_dot-dims{width:24px;height:24px}
.icon-icon_location_gps,.icon-icon_location_gps\:regular{background-image:url('icons/icons.png');background-position:0 -1080px;background-repeat:no-repeat}
.icon-icon_location_gps-dims{width:24px;height:24px}
.icon-icon_location_gps_active,.icon-icon_location_gps_active\:regular{background-image:url('icons/icons.png');background-position:0 -1104px;background-repeat:no-repeat}
.icon-icon_location_gps_active-dims{width:24px;height:24px}
.icon-icon_location_pin,.icon-icon_location_pin\:regular{background-image:url('icons/icons.png');background-position:0 -1128px;background-repeat:no-repeat}
.icon-icon_location_pin-dims{width:24px;height:24px}
.icon-icon_media_pause,.icon-icon_media_pause\:regular{background-image:url('icons/icons.png');background-position:0 -1152px;background-repeat:no-repeat}
.icon-icon_media_pause-dims{width:24px;height:24px}
.icon-icon_media_pause_filled,.icon-icon_media_pause_filled\:regular{background-image:url('icons/icons.png');background-position:0 -1176px;background-repeat:no-repeat}
.icon-icon_media_pause_filled-dims{width:24px;height:24px}
.icon-icon_media_play,.icon-icon_media_play\:regular{background-image:url('icons/icons.png');background-position:0 -1200px;background-repeat:no-repeat}
.icon-icon_media_play-dims{width:24px;height:24px}
.icon-icon_media_play_filled,.icon-icon_media_play_filled\:regular{background-image:url('icons/icons.png');background-position:0 -1224px;background-repeat:no-repeat}
.icon-icon_media_play_filled-dims{width:24px;height:24px}
.icon-icon_media_stop,.icon-icon_media_stop\:regular{background-image:url('icons/icons.png');background-position:0 -1248px;background-repeat:no-repeat}
.icon-icon_media_stop-dims{width:24px;height:24px}
.icon-icon_media_stop_filled,.icon-icon_media_stop_filled\:regular{background-image:url('icons/icons.png');background-position:0 -1272px;background-repeat:no-repeat}
.icon-icon_media_stop_filled-dims{width:24px;height:24px}
.icon-icon_sbu_new_aviation_1,.icon-icon_sbu_new_aviation_1\:regular{background-image:url('icons/icons.png');background-position:0 -1296px;background-repeat:no-repeat}
.icon-icon_sbu_new_aviation_1-dims{width:24px;height:24px}
.icon-icon_sbu_new_aviation_2,.icon-icon_sbu_new_aviation_2\:regular{background-image:url('icons/icons.png');background-position:0 -1320px;background-repeat:no-repeat}
.icon-icon_sbu_new_aviation_2-dims{width:24px;height:24px}
.icon-icon_sbu_new_systems,.icon-icon_sbu_new_systems\:regular{background-image:url('icons/icons.png');background-position:0 -1344px;background-repeat:no-repeat}
.icon-icon_sbu_new_systems-dims{width:24px;height:24px}
.icon-icon_sbu_new_zbm,.icon-icon_sbu_new_zbm\:regular{background-image:url('icons/icons.png');background-position:0 -1368px;background-repeat:no-repeat}
.icon-icon_sbu_new_zbm-dims{width:24px;height:24px}
.icon-icon_sbu_new_zps,.icon-icon_sbu_new_zps\:regular{background-image:url('icons/icons.png');background-position:0 -1392px;background-repeat:no-repeat}
.icon-icon_sbu_new_zps-dims{width:24px;height:24px}
.icon-icon_sbu_new_zrd,.icon-icon_sbu_new_zrd\:regular{background-image:url('icons/icons.png');background-position:0 -1416px;background-repeat:no-repeat}
.icon-icon_sbu_new_zrd-dims{width:24px;height:24px}
.icon-icon_sbu_systems_aviation,.icon-icon_sbu_systems_aviation\:regular{background-image:url('icons/icons.png');background-position:0 -1440px;background-repeat:no-repeat}
.icon-icon_sbu_systems_aviation-dims{width:24px;height:24px}
.icon-icon_sbu_systems_aviation_badge,.icon-icon_sbu_systems_aviation_badge\:regular{background-image:url('icons/icons.png');background-position:0 -1464px;background-repeat:no-repeat}
.icon-icon_sbu_systems_aviation_badge-dims{width:24px;height:24px}
.icon-icon_sbu_systems_default_1,.icon-icon_sbu_systems_default_1\:regular{background-image:url('icons/icons.png');background-position:0 -1488px;background-repeat:no-repeat}
.icon-icon_sbu_systems_default_1-dims{width:24px;height:24px}
.icon-icon_sbu_systems_default_2,.icon-icon_sbu_systems_default_2\:regular{background-image:url('icons/icons.png');background-position:0 -1512px;background-repeat:no-repeat}
.icon-icon_sbu_systems_default_2-dims{width:24px;height:24px}
.icon-icon_sbu_systems_products,.icon-icon_sbu_systems_products\:regular{background-image:url('icons/icons.png');background-position:0 -1536px;background-repeat:no-repeat}
.icon-icon_sbu_systems_products-dims{width:24px;height:24px}
.icon-icon_sbu_systems_service,.icon-icon_sbu_systems_service\:regular{background-image:url('icons/icons.png');background-position:0 -1560px;background-repeat:no-repeat}
.icon-icon_sbu_systems_service-dims{width:24px;height:24px}
.icon-icon_sbu_zbm_default,.icon-icon_sbu_zbm_default\:regular{background-image:url('icons/icons.png');background-position:0 -1584px;background-repeat:no-repeat}
.icon-icon_sbu_zbm_default-dims{width:24px;height:24px}
.icon-icon_sbu_zbm_excavator,.icon-icon_sbu_zbm_excavator\:regular{background-image:url('icons/icons.png');background-position:0 -1608px;background-repeat:no-repeat}
.icon-icon_sbu_zbm_excavator-dims{width:24px;height:24px}
.icon-icon_sbu_zbm_service,.icon-icon_sbu_zbm_service\:regular{background-image:url('icons/icons.png');background-position:0 -1632px;background-repeat:no-repeat}
.icon-icon_sbu_zbm_service-dims{width:24px;height:24px}
.icon-icon_sbu_zbm_used,.icon-icon_sbu_zbm_used\:regular{background-image:url('icons/icons.png');background-position:0 -1656px;background-repeat:no-repeat}
.icon-icon_sbu_zbm_used-dims{width:24px;height:24px}
.icon-icon_sbu_zps_default,.icon-icon_sbu_zps_default\:regular{background-image:url('icons/icons.png');background-position:0 -1680px;background-repeat:no-repeat}
.icon-icon_sbu_zps_default-dims{width:24px;height:24px}
.icon-icon_sbu_zps_service,.icon-icon_sbu_zps_service\:regular{background-image:url('icons/icons.png');background-position:0 -1704px;background-repeat:no-repeat}
.icon-icon_sbu_zps_service-dims{width:24px;height:24px}
.icon-icon_sbu_zps_used,.icon-icon_sbu_zps_used\:regular{background-image:url('icons/icons.png');background-position:0 -1728px;background-repeat:no-repeat}
.icon-icon_sbu_zps_used-dims{width:24px;height:24px}
.icon-icon_sbu_zrd_default,.icon-icon_sbu_zrd_default\:regular{background-image:url('icons/icons.png');background-position:0 -1752px;background-repeat:no-repeat}
.icon-icon_sbu_zrd_default-dims{width:24px;height:24px}
.icon-icon_sbu_zrd_infrastructure,.icon-icon_sbu_zrd_infrastructure\:regular{background-image:url('icons/icons.png');background-position:0 -1776px;background-repeat:no-repeat}
.icon-icon_sbu_zrd_infrastructure-dims{width:24px;height:24px}
.icon-icon_sbu_zrd_logistics,.icon-icon_sbu_zrd_logistics\:regular{background-image:url('icons/icons.png');background-position:0 -1800px;background-repeat:no-repeat}
.icon-icon_sbu_zrd_logistics-dims{width:24px;height:24px}
.icon-icon_sbu_zrd_rental,.icon-icon_sbu_zrd_rental\:regular{background-image:url('icons/icons.png');background-position:0 -1824px;background-repeat:no-repeat}
.icon-icon_sbu_zrd_rental-dims{width:24px;height:24px}
.icon-icon_social_facebook,.icon-icon_social_facebook\:regular{background-image:url('icons/icons.png');background-position:0 -1848px;background-repeat:no-repeat}
.icon-icon_social_facebook-dims{width:24px;height:24px}
.icon-icon_social_instagram,.icon-icon_social_instagram\:regular{background-image:url('icons/icons.png');background-position:0 -1872px;background-repeat:no-repeat}
.icon-icon_social_instagram-dims{width:24px;height:24px}
.icon-icon_social_kununu,.icon-icon_social_kununu\:regular{background-image:url('icons/icons.png');background-position:0 -1896px;background-repeat:no-repeat}
.icon-icon_social_kununu-dims{width:24px;height:24px}
.icon-icon_social_linkedin,.icon-icon_social_linkedin\:regular{background-image:url('icons/icons.png');background-position:0 -1920px;background-repeat:no-repeat}
.icon-icon_social_linkedin-dims{width:24px;height:24px}
.icon-icon_social_twitter,.icon-icon_social_twitter\:regular{background-image:url('icons/icons.png');background-position:0 -1944px;background-repeat:no-repeat}
.icon-icon_social_twitter-dims{width:24px;height:24px}
.icon-icon_social_whatsapp,.icon-icon_social_whatsapp\:regular{background-image:url('icons/icons.png');background-position:0 -1968px;background-repeat:no-repeat}
.icon-icon_social_whatsapp-dims{width:24px;height:24px}
.icon-icon_social_xing,.icon-icon_social_xing\:regular{background-image:url('icons/icons.png');background-position:0 -1992px;background-repeat:no-repeat}
.icon-icon_social_xing-dims{width:24px;height:24px}
.icon-icon_social_youtube,.icon-icon_social_youtube\:regular{background-image:url('icons/icons.png');background-position:0 -2016px;background-repeat:no-repeat}
.icon-icon_social_youtube-dims{width:24px;height:24px}