/* Icons from directory "" */
.icon-icon-arrow-chevron-down,.icon-icon-arrow-chevron-down\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-icon-arrow-chevron-down-dims{width:24px;height:24px}
.icon-icon-arrow-chevron-left,.icon-icon-arrow-chevron-left\:regular{background-image:url('icons/icons.svg');background-position:0 -24px;background-repeat:no-repeat}
.icon-icon-arrow-chevron-left-dims{width:24px;height:24px}
.icon-icon-arrow-chevron-right,.icon-icon-arrow-chevron-right\:regular{background-image:url('icons/icons.svg');background-position:0 -48px;background-repeat:no-repeat}
.icon-icon-arrow-chevron-right-dims{width:24px;height:24px}
.icon-icon-arrow-chevron-up,.icon-icon-arrow-chevron-up\:regular{background-image:url('icons/icons.svg');background-position:0 -72px;background-repeat:no-repeat}
.icon-icon-arrow-chevron-up-dims{width:24px;height:24px}
.icon-icon-arrow-down,.icon-icon-arrow-down\:regular{background-image:url('icons/icons.svg');background-position:0 -96px;background-repeat:no-repeat}
.icon-icon-arrow-down-dims{width:24px;height:24px}
.icon-icon-arrow-left,.icon-icon-arrow-left\:regular{background-image:url('icons/icons.svg');background-position:0 -120px;background-repeat:no-repeat}
.icon-icon-arrow-left-dims{width:24px;height:24px}
.icon-icon-arrow-right,.icon-icon-arrow-right\:regular{background-image:url('icons/icons.svg');background-position:0 -144px;background-repeat:no-repeat}
.icon-icon-arrow-right-dims{width:24px;height:24px}
.icon-icon-arrow-up,.icon-icon-arrow-up\:regular{background-image:url('icons/icons.svg');background-position:0 -168px;background-repeat:no-repeat}
.icon-icon-arrow-up-dims{width:24px;height:24px}
.icon-icon-communication-email,.icon-icon-communication-email\:regular{background-image:url('icons/icons.svg');background-position:0 -192px;background-repeat:no-repeat}
.icon-icon-communication-email-dims{width:24px;height:24px}
.icon-icon-communication-phone,.icon-icon-communication-phone\:regular{background-image:url('icons/icons.svg');background-position:0 -216px;background-repeat:no-repeat}
.icon-icon-communication-phone-dims{width:24px;height:24px}
.icon-icon-ecom-cart,.icon-icon-ecom-cart\:regular{background-image:url('icons/icons.svg');background-position:0 -240px;background-repeat:no-repeat}
.icon-icon-ecom-cart-dims{width:24px;height:24px}
.icon-icon-ecom-offer,.icon-icon-ecom-offer\:regular{background-image:url('icons/icons.svg');background-position:0 -264px;background-repeat:no-repeat}
.icon-icon-ecom-offer-dims{width:24px;height:24px}
.icon-icon-essential-add,.icon-icon-essential-add\:regular{background-image:url('icons/icons.svg');background-position:0 -288px;background-repeat:no-repeat}
.icon-icon-essential-add-dims{width:24px;height:24px}
.icon-icon-essential-avatar,.icon-icon-essential-avatar\:regular{background-image:url('icons/icons.svg');background-position:0 -312px;background-repeat:no-repeat}
.icon-icon-essential-avatar-dims{width:24px;height:24px}
.icon-icon-essential-check-small,.icon-icon-essential-check-small\:regular{background-image:url('icons/icons.svg');background-position:0 -336px;background-repeat:no-repeat}
.icon-icon-essential-check-small-dims{width:24px;height:24px}
.icon-icon-essential-check,.icon-icon-essential-check\:regular{background-image:url('icons/icons.svg');background-position:0 -360px;background-repeat:no-repeat}
.icon-icon-essential-check-dims{width:24px;height:24px}
.icon-icon-essential-close,.icon-icon-essential-close\:regular{background-image:url('icons/icons.svg');background-position:0 -384px;background-repeat:no-repeat}
.icon-icon-essential-close-dims{width:24px;height:24px}
.icon-icon-essential-delete,.icon-icon-essential-delete\:regular{background-image:url('icons/icons.svg');background-position:0 -408px;background-repeat:no-repeat}
.icon-icon-essential-delete-dims{width:24px;height:24px}
.icon-icon-essential-download,.icon-icon-essential-download\:regular{background-image:url('icons/icons.svg');background-position:0 -432px;background-repeat:no-repeat}
.icon-icon-essential-download-dims{width:24px;height:24px}
.icon-icon-essential-edit,.icon-icon-essential-edit\:regular{background-image:url('icons/icons.svg');background-position:0 -456px;background-repeat:no-repeat}
.icon-icon-essential-edit-dims{width:24px;height:24px}
.icon-icon-essential-expand,.icon-icon-essential-expand\:regular{background-image:url('icons/icons.svg');background-position:0 -480px;background-repeat:no-repeat}
.icon-icon-essential-expand-dims{width:24px;height:24px}
.icon-icon-essential-filter-1,.icon-icon-essential-filter-1\:regular{background-image:url('icons/icons.svg');background-position:0 -504px;background-repeat:no-repeat}
.icon-icon-essential-filter-1-dims{width:24px;height:24px}
.icon-icon-essential-filter-2,.icon-icon-essential-filter-2\:regular{background-image:url('icons/icons.svg');background-position:0 -528px;background-repeat:no-repeat}
.icon-icon-essential-filter-2-dims{width:24px;height:24px}
.icon-icon-essential-hide,.icon-icon-essential-hide\:regular{background-image:url('icons/icons.svg');background-position:0 -552px;background-repeat:no-repeat}
.icon-icon-essential-hide-dims{width:24px;height:24px}
.icon-icon-essential-home-filled,.icon-icon-essential-home-filled\:regular{background-image:url('icons/icons.svg');background-position:0 -576px;background-repeat:no-repeat}
.icon-icon-essential-home-filled-dims{width:24px;height:24px}
.icon-icon-essential-home,.icon-icon-essential-home\:regular{background-image:url('icons/icons.svg');background-position:0 -600px;background-repeat:no-repeat}
.icon-icon-essential-home-dims{width:24px;height:24px}
.icon-icon-essential-loading-spinner,.icon-icon-essential-loading-spinner\:regular{background-image:url('icons/icons.svg');background-position:0 -624px;background-repeat:no-repeat}
.icon-icon-essential-loading-spinner-dims{width:24px;height:24px}
.icon-icon-essential-login,.icon-icon-essential-login\:regular{background-image:url('icons/icons.svg');background-position:0 -648px;background-repeat:no-repeat}
.icon-icon-essential-login-dims{width:24px;height:24px}
.icon-icon-essential-logout,.icon-icon-essential-logout\:regular{background-image:url('icons/icons.svg');background-position:0 -672px;background-repeat:no-repeat}
.icon-icon-essential-logout-dims{width:24px;height:24px}
.icon-icon-essential-menu,.icon-icon-essential-menu\:regular{background-image:url('icons/icons.svg');background-position:0 -696px;background-repeat:no-repeat}
.icon-icon-essential-menu-dims{width:24px;height:24px}
.icon-icon-essential-mobile-phone,.icon-icon-essential-mobile-phone\:regular{background-image:url('icons/icons.svg');background-position:0 -720px;background-repeat:no-repeat}
.icon-icon-essential-mobile-phone-dims{width:24px;height:24px}
.icon-icon-essential-print,.icon-icon-essential-print\:regular{background-image:url('icons/icons.svg');background-position:0 -744px;background-repeat:no-repeat}
.icon-icon-essential-print-dims{width:24px;height:24px}
.icon-icon-essential-remove,.icon-icon-essential-remove\:regular{background-image:url('icons/icons.svg');background-position:0 -768px;background-repeat:no-repeat}
.icon-icon-essential-remove-dims{width:24px;height:24px}
.icon-icon-essential-search,.icon-icon-essential-search\:regular{background-image:url('icons/icons.svg');background-position:0 -792px;background-repeat:no-repeat}
.icon-icon-essential-search-dims{width:24px;height:24px}
.icon-icon-essential-settings,.icon-icon-essential-settings\:regular{background-image:url('icons/icons.svg');background-position:0 -816px;background-repeat:no-repeat}
.icon-icon-essential-settings-dims{width:24px;height:24px}
.icon-icon-essential-shrink,.icon-icon-essential-shrink\:regular{background-image:url('icons/icons.svg');background-position:0 -840px;background-repeat:no-repeat}
.icon-icon-essential-shrink-dims{width:24px;height:24px}
.icon-icon-essential-sort,.icon-icon-essential-sort\:regular{background-image:url('icons/icons.svg');background-position:0 -864px;background-repeat:no-repeat}
.icon-icon-essential-sort-dims{width:24px;height:24px}
.icon-icon-essential-star-filled,.icon-icon-essential-star-filled\:regular{background-image:url('icons/icons.svg');background-position:0 -888px;background-repeat:no-repeat}
.icon-icon-essential-star-filled-dims{width:24px;height:24px}
.icon-icon-essential-star,.icon-icon-essential-star\:regular{background-image:url('icons/icons.svg');background-position:0 -912px;background-repeat:no-repeat}
.icon-icon-essential-star-dims{width:24px;height:24px}
.icon-icon-essential-substract,.icon-icon-essential-substract\:regular{background-image:url('icons/icons.svg');background-position:0 -936px;background-repeat:no-repeat}
.icon-icon-essential-substract-dims{width:24px;height:24px}
.icon-icon-essential-vertical-menu-filled,.icon-icon-essential-vertical-menu-filled\:regular{background-image:url('icons/icons.svg');background-position:0 -960px;background-repeat:no-repeat}
.icon-icon-essential-vertical-menu-filled-dims{width:24px;height:24px}
.icon-icon-essential-vertical-menu,.icon-icon-essential-vertical-menu\:regular{background-image:url('icons/icons.svg');background-position:0 -984px;background-repeat:no-repeat}
.icon-icon-essential-vertical-menu-dims{width:24px;height:24px}
.icon-icon-essential-view,.icon-icon-essential-view\:regular{background-image:url('icons/icons.svg');background-position:0 -1008px;background-repeat:no-repeat}
.icon-icon-essential-view-dims{width:24px;height:24px}
.icon-icon-essential-world,.icon-icon-essential-world\:regular{background-image:url('icons/icons.svg');background-position:0 -1032px;background-repeat:no-repeat}
.icon-icon-essential-world-dims{width:24px;height:24px}
.icon-icon-location-dot,.icon-icon-location-dot\:regular{background-image:url('icons/icons.svg');background-position:0 -1056px;background-repeat:no-repeat}
.icon-icon-location-dot-dims{width:24px;height:24px}
.icon-icon-location-gps-active,.icon-icon-location-gps-active\:regular{background-image:url('icons/icons.svg');background-position:0 -1080px;background-repeat:no-repeat}
.icon-icon-location-gps-active-dims{width:24px;height:24px}
.icon-icon-location-gps,.icon-icon-location-gps\:regular{background-image:url('icons/icons.svg');background-position:0 -1104px;background-repeat:no-repeat}
.icon-icon-location-gps-dims{width:24px;height:24px}
.icon-icon-location-pin,.icon-icon-location-pin\:regular{background-image:url('icons/icons.svg');background-position:0 -1128px;background-repeat:no-repeat}
.icon-icon-location-pin-dims{width:24px;height:24px}
.icon-icon-media-pause-filled,.icon-icon-media-pause-filled\:regular{background-image:url('icons/icons.svg');background-position:0 -1152px;background-repeat:no-repeat}
.icon-icon-media-pause-filled-dims{width:24px;height:24px}
.icon-icon-media-pause,.icon-icon-media-pause\:regular{background-image:url('icons/icons.svg');background-position:0 -1176px;background-repeat:no-repeat}
.icon-icon-media-pause-dims{width:24px;height:24px}
.icon-icon-media-play-filled,.icon-icon-media-play-filled\:regular{background-image:url('icons/icons.svg');background-position:0 -1200px;background-repeat:no-repeat}
.icon-icon-media-play-filled-dims{width:24px;height:24px}
.icon-icon-media-play,.icon-icon-media-play\:regular{background-image:url('icons/icons.svg');background-position:0 -1224px;background-repeat:no-repeat}
.icon-icon-media-play-dims{width:24px;height:24px}
.icon-icon-media-stop-filled,.icon-icon-media-stop-filled\:regular{background-image:url('icons/icons.svg');background-position:0 -1248px;background-repeat:no-repeat}
.icon-icon-media-stop-filled-dims{width:24px;height:24px}
.icon-icon-media-stop,.icon-icon-media-stop\:regular{background-image:url('icons/icons.svg');background-position:0 -1272px;background-repeat:no-repeat}
.icon-icon-media-stop-dims{width:24px;height:24px}
.icon-icon-sbu-new-aviation-1,.icon-icon-sbu-new-aviation-1\:regular{background-image:url('icons/icons.svg');background-position:0 -1296px;background-repeat:no-repeat}
.icon-icon-sbu-new-aviation-1-dims{width:24px;height:24px}
.icon-icon-sbu-new-aviation-2,.icon-icon-sbu-new-aviation-2\:regular{background-image:url('icons/icons.svg');background-position:0 -1320px;background-repeat:no-repeat}
.icon-icon-sbu-new-aviation-2-dims{width:24px;height:24px}
.icon-icon-sbu-new-systems,.icon-icon-sbu-new-systems\:regular{background-image:url('icons/icons.svg');background-position:0 -1344px;background-repeat:no-repeat}
.icon-icon-sbu-new-systems-dims{width:24px;height:24px}
.icon-icon-sbu-new-zbm,.icon-icon-sbu-new-zbm\:regular{background-image:url('icons/icons.svg');background-position:0 -1368px;background-repeat:no-repeat}
.icon-icon-sbu-new-zbm-dims{width:24px;height:24px}
.icon-icon-sbu-new-zps,.icon-icon-sbu-new-zps\:regular{background-image:url('icons/icons.svg');background-position:0 -1392px;background-repeat:no-repeat}
.icon-icon-sbu-new-zps-dims{width:24px;height:24px}
.icon-icon-sbu-new-zrd,.icon-icon-sbu-new-zrd\:regular{background-image:url('icons/icons.svg');background-position:0 -1416px;background-repeat:no-repeat}
.icon-icon-sbu-new-zrd-dims{width:24px;height:24px}
.icon-icon-sbu-systems-aviation-badge,.icon-icon-sbu-systems-aviation-badge\:regular{background-image:url('icons/icons.svg');background-position:0 -1440px;background-repeat:no-repeat}
.icon-icon-sbu-systems-aviation-badge-dims{width:24px;height:24px}
.icon-icon-sbu-systems-aviation,.icon-icon-sbu-systems-aviation\:regular{background-image:url('icons/icons.svg');background-position:0 -1464px;background-repeat:no-repeat}
.icon-icon-sbu-systems-aviation-dims{width:24px;height:24px}
.icon-icon-sbu-systems-default-1,.icon-icon-sbu-systems-default-1\:regular{background-image:url('icons/icons.svg');background-position:0 -1488px;background-repeat:no-repeat}
.icon-icon-sbu-systems-default-1-dims{width:24px;height:24px}
.icon-icon-sbu-systems-default-2,.icon-icon-sbu-systems-default-2\:regular{background-image:url('icons/icons.svg');background-position:0 -1512px;background-repeat:no-repeat}
.icon-icon-sbu-systems-default-2-dims{width:24px;height:24px}
.icon-icon-sbu-systems-products,.icon-icon-sbu-systems-products\:regular{background-image:url('icons/icons.svg');background-position:0 -1536px;background-repeat:no-repeat}
.icon-icon-sbu-systems-products-dims{width:24px;height:24px}
.icon-icon-sbu-systems-service,.icon-icon-sbu-systems-service\:regular{background-image:url('icons/icons.svg');background-position:0 -1560px;background-repeat:no-repeat}
.icon-icon-sbu-systems-service-dims{width:24px;height:24px}
.icon-icon-sbu-zbm-default,.icon-icon-sbu-zbm-default\:regular{background-image:url('icons/icons.svg');background-position:0 -1584px;background-repeat:no-repeat}
.icon-icon-sbu-zbm-default-dims{width:24px;height:24px}
.icon-icon-sbu-zbm-excavator,.icon-icon-sbu-zbm-excavator\:regular{background-image:url('icons/icons.svg');background-position:0 -1608px;background-repeat:no-repeat}
.icon-icon-sbu-zbm-excavator-dims{width:24px;height:24px}
.icon-icon-sbu-zbm-service,.icon-icon-sbu-zbm-service\:regular{background-image:url('icons/icons.svg');background-position:0 -1632px;background-repeat:no-repeat}
.icon-icon-sbu-zbm-service-dims{width:24px;height:24px}
.icon-icon-sbu-zbm-used,.icon-icon-sbu-zbm-used\:regular{background-image:url('icons/icons.svg');background-position:0 -1656px;background-repeat:no-repeat}
.icon-icon-sbu-zbm-used-dims{width:24px;height:24px}
.icon-icon-sbu-zps-default,.icon-icon-sbu-zps-default\:regular{background-image:url('icons/icons.svg');background-position:0 -1680px;background-repeat:no-repeat}
.icon-icon-sbu-zps-default-dims{width:24px;height:24px}
.icon-icon-sbu-zps-service,.icon-icon-sbu-zps-service\:regular{background-image:url('icons/icons.svg');background-position:0 -1704px;background-repeat:no-repeat}
.icon-icon-sbu-zps-service-dims{width:24px;height:24px}
.icon-icon-sbu-zps-used,.icon-icon-sbu-zps-used\:regular{background-image:url('icons/icons.svg');background-position:0 -1728px;background-repeat:no-repeat}
.icon-icon-sbu-zps-used-dims{width:24px;height:24px}
.icon-icon-sbu-zrd-default,.icon-icon-sbu-zrd-default\:regular{background-image:url('icons/icons.svg');background-position:0 -1752px;background-repeat:no-repeat}
.icon-icon-sbu-zrd-default-dims{width:24px;height:24px}
.icon-icon-sbu-zrd-infrastructure,.icon-icon-sbu-zrd-infrastructure\:regular{background-image:url('icons/icons.svg');background-position:0 -1776px;background-repeat:no-repeat}
.icon-icon-sbu-zrd-infrastructure-dims{width:24px;height:24px}
.icon-icon-sbu-zrd-logistics,.icon-icon-sbu-zrd-logistics\:regular{background-image:url('icons/icons.svg');background-position:0 -1800px;background-repeat:no-repeat}
.icon-icon-sbu-zrd-logistics-dims{width:24px;height:24px}
.icon-icon-sbu-zrd-rental,.icon-icon-sbu-zrd-rental\:regular{background-image:url('icons/icons.svg');background-position:0 -1824px;background-repeat:no-repeat}
.icon-icon-sbu-zrd-rental-dims{width:24px;height:24px}
.icon-icon-social-facebook,.icon-icon-social-facebook\:regular{background-image:url('icons/icons.svg');background-position:0 -1848px;background-repeat:no-repeat}
.icon-icon-social-facebook-dims{width:24px;height:24px}
.icon-icon-social-instagram,.icon-icon-social-instagram\:regular{background-image:url('icons/icons.svg');background-position:0 -1872px;background-repeat:no-repeat}
.icon-icon-social-instagram-dims{width:24px;height:24px}
.icon-icon-social-kununu,.icon-icon-social-kununu\:regular{background-image:url('icons/icons.svg');background-position:0 -1896px;background-repeat:no-repeat}
.icon-icon-social-kununu-dims{width:24px;height:24px}
.icon-icon-social-linkedin,.icon-icon-social-linkedin\:regular{background-image:url('icons/icons.svg');background-position:0 -1920px;background-repeat:no-repeat}
.icon-icon-social-linkedin-dims{width:24px;height:24px}
.icon-icon-social-twitter,.icon-icon-social-twitter\:regular{background-image:url('icons/icons.svg');background-position:0 -1944px;background-repeat:no-repeat}
.icon-icon-social-twitter-dims{width:24px;height:24px}
.icon-icon-social-whatsapp,.icon-icon-social-whatsapp\:regular{background-image:url('icons/icons.svg');background-position:0 -1968px;background-repeat:no-repeat}
.icon-icon-social-whatsapp-dims{width:24px;height:24px}
.icon-icon-social-xing,.icon-icon-social-xing\:regular{background-image:url('icons/icons.svg');background-position:0 -1992px;background-repeat:no-repeat}
.icon-icon-social-xing-dims{width:24px;height:24px}
.icon-icon-social-youtube,.icon-icon-social-youtube\:regular{background-image:url('icons/icons.svg');background-position:0 -2016px;background-repeat:no-repeat}
.icon-icon-social-youtube-dims{width:24px;height:24px}