// notification - base style

@mixin notification {
  .#{$prefix}notification {
    @extend %typo-normal-body1;
    color: map-deep-get($guidelines, 'color', 'global', lightGray);
    padding: 0.625rem 1.5rem;
    text-align: center;
    border: 2px solid map-deep-get($guidelines, 'color', 'global', lightGray);
  }

  .#{$prefix}notification--danger {
    border: 2px solid map-deep-get($guidelines, 'color', 'support', 'alert');
    background: map-deep-get($guidelines, 'color', 'support', 'alertLighter');
    color: map-deep-get($guidelines, 'color', 'support', 'alert');
  }

  .#{$prefix}notification--warning {
    border: 2px solid map-deep-get($guidelines, 'color', 'support', 'warning');
    background: map-deep-get($guidelines, 'color', 'support', 'warningLighter');
    color: map-deep-get($guidelines, 'color', 'support', 'warning');
  }

  .#{$prefix}notification--success {
    border: 2px solid map-deep-get($guidelines, 'color', 'support', 'success');
    background: map-deep-get($guidelines, 'color', 'support', 'successLighter');
    color: map-deep-get($guidelines, 'color', 'support', 'success');
  }

  .#{$prefix}notification--info {
    border: 2px solid map-deep-get($guidelines, 'color', 'support', 'info');
    background: map-deep-get($guidelines, 'color', 'support', 'infoLighter');
    color: map-deep-get($guidelines, 'color', 'support', 'info');
  }
}

@include exports('notification') {
  @include notification;
}
