// notification - base style

@mixin notification {
  $color-default: map-deep-get($guidelines, 'color', black, 60);
  $variants: 'alert', 'info', 'success', 'warning';

  .#{$prefix}notification {
    @extend .#{$prefix}typo--body-default;
    background: map-deep-get($guidelines, 'color', 'global', white);
    color: $color-default;
    padding: 0.625rem 1.5rem;
    text-align: center;
    border: 0.125rem solid $color-default;
  }

  @each $variant in $variants {
    $color: map-deep-get($guidelines, 'color', 'support', $variant);

    .#{$prefix}notification--#{$variant} {
      background: map-deep-get(
        $guidelines,
        'color',
        'support',
        '#{$variant}Lighter'
      );
      border-color: $color;
      color: $color;
    }
  }

  @warn ".#{$prefix}notification--danger is deprecated and will be removed in future versions, please use .#{$prefix}notification--alert instead";
  .#{$prefix}notification--danger {
    $color: map-deep-get($guidelines, 'color', 'support', 'alert');

    background: map-deep-get($guidelines, 'color', 'support', 'alertLighter');
    border-color: $color;
    color: $color;
  }
}

@include exports('notification') {
  @include notification;
}
