// Search - base style

@mixin search {
  .#{$prefix}search {
    position: relative;
  }

  .#{$prefix}search__input {
    @extend %typo-normal-body1;
    color: map-deep-get($guidelines, 'color', 'font');
    width: 100%;
    height: 3rem;
    background-color: white;
    padding-left: 3.25rem;
    padding-top: 0.25rem;
    border: 1px solid map-deep-get($guidelines, 'color', 'global', lightGray);
    &--rounded-left {
      background: rgb(255, 255, 255);
      border-radius: 30px 0px 0px 30px;
    }
    &--searchfield {
      border: none;
      padding-left: 1.25rem;
      border-bottom: 1px solid
        map-deep-get($guidelines, 'color', 'global', lightGray);
      @include themify($color_themes) {
        &:focus {
          border-bottom-color: themed('primary');
        }
      }
      + .#{$prefix}search__icon {
        right: 0;
        left: unset;
      }
    }
    @include themify($color_themes) {
      &:focus {
        border-color: themed('primary');
        outline: none;
      }
      &:focus + .#{$prefix}search__icon {
        color: themed('primary');
      }
    }
  }

  .#{$prefix}search__icon {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 24px;
    height: 24px;
    color: rgba($color: #000000, $alpha: 0.5);
  }
}

@include exports('search') {
  @include search;
}
