// Search - base style

@mixin search {
  .#{$prefix}search {
    position: relative;
  }

  .#{$prefix}search__input {
    @extend %typo-normal-body1;
    color: rgba($color: #000000, $alpha: 0.6);
    width: 100%;
    height: 3rem;
    background-color: white;
    padding-left: 3.25rem;
    padding-top: 0.25rem;
    border: 1px solid rgba($color: #000000, $alpha: 0.6);
    &--rounded-left {
      background: rgb(255, 255, 255);
      border-radius: 30px 0px 0px 30px;
      &:focus {
        border: 2px solid rgba($color: #000000, $alpha: 0.8);
        outline: none;
        + .#{$prefix}search__icon {
          color: rgba($color: #000000, $alpha: 0.8);
        }
      }
    }
    &--searchfield {
      border: none;
      padding-left: 1.25rem;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.6);
      &:focus {
        border-bottom: 2px solid rgba($color: #000000, $alpha: 0.8);
        outline: none;
        + .#{$prefix}search__icon {
          color: rgba($color: #000000, $alpha: 0.8);
        }
      }
      + .#{$prefix}search__icon {
        right: 0;
        left: unset;
      }
    }
  }
  .#{$prefix}search__icon {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 24px;
    height: 24px;
    color: rgba($color: #000000, $alpha: 0.6);
  }
}

@include exports('search') {
  @include search;
}
