// Button

@mixin button {
  .#{$prefix}button {
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: map-deep-get($guidelines, 'color', 'text', white);
    color: map-deep-get($guidelines, 'color', 'text', lightGray);
    &:hover,
    &:focus {
      color: map-deep-get($guidelines, 'color', 'text', black);
    }
  }

  .#{$prefix}button-icon--pagination {
    background-color: map-deep-get($guidelines, 'color', 'text', lightGray);
    margin-right: 1px;
  }

  .#{$prefix}button-pagination {
    @extend %typo-normal-button1;
    border-radius: 0;
    background-color: transparent;
    color: map-deep-get($guidelines, 'color', 'text', lightGray);
    fill: map-deep-get($guidelines, 'color', 'text', lightGray);
    width: 3rem;
    height: 3rem;
    margin-right: 1px;
    display: table-cell;
    vertical-align: middle;
    outline: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    @include themify($color_themes) {
      &:hover,
      &:focus,
      &.#{$prefix}pagination--selected {
        color: map-deep-get($guidelines, 'color', 'text', black);
        fill: map-deep-get($guidelines, 'color', 'text', black);
        background-color: transparent;
        border-bottom: 2px solid themed('primary');
      }
    }
  }

  .#{$prefix}button-primary {
    @extend %typo-normal-button1;
    padding: 20px 32px;
    @include themify($color_themes) {
      color: themed('buttonText');
      fill: themed('buttonText');
      background-color: themed('primary');
      &:hover,
      &:focus,
      &.#{$prefix}button-primary--hover {
        background-color: themed('hover');
        color: themed('buttonTextHover');
        fill: themed('buttonTextHover');
      }

      &:active {
        box-shadow: 0 0 5px 0px themed('primary');
      }
    }
    &:disabled,
    &.#{$prefix}button-primary--disabled {
      color: map-deep-get($guidelines, 'color', 'text', lightGray);
      fill: map-deep-get($guidelines, 'color', 'text', lightGray);
      background-color: map-deep-get($guidelines, 'color', 'text', white);
      cursor: not-allowed;
      outline: 0;
      &:hover,
      &:focus,
      &.#{$prefix}button-primary--hover {
        color: map-deep-get($guidelines, 'color', 'text', lightGray);
        fill: map-deep-get($guidelines, 'color', 'text', lightGray);
        background-color: map-deep-get($guidelines, 'color', 'text', white);
      }
    }
  }

  .#{$prefix}button-secondary {
    @extend %typo-normal-button1;
    background: transparent;
    padding: 20px 32px;
    border: 2px solid;
    @include themify($color_themes) {
      border-color: themed('primary');
      color: themed('primary');
      fill: themed('primary');
      &:hover,
      &:focus,
      &.#{$prefix}button-secondary--hover {
        border-color: themed('hover');
        color: themed('hover');
        fill: themed('hover');
      }
    }

    &:disabled,
    &.#{$prefix}button-secondary--disabled {
      color: map-deep-get($guidelines, 'color', 'text', lightGray);
      fill: map-deep-get($guidelines, 'color', 'text', lightGray);
      border-color: map-deep-get($guidelines, 'color', 'text', lightGray);
      cursor: not-allowed;
      outline: 0;
      &:hover,
      &:focus,
      &.#{$prefix}button-secondary--hover {
        color: map-deep-get($guidelines, 'color', 'text', lightGray);
        fill: map-deep-get($guidelines, 'color', 'text', lightGray);
        border-color: map-deep-get($guidelines, 'color', 'text', lightGray);
        outline: 0;
      }
    }
  }

  .#{$prefix}button--medium {
    padding: 14px 24px;
  }

  .#{$prefix}button--small {
    padding: 6px 16px;
  }

  .#{$prefix}button--full {
    display: block;
    width: 100%;
  }

  .#{$prefix}button-icon {
    padding: 0;
    width: 3rem;
    height: 3rem;
    &:disabled {
      cursor: not-allowed;
      outline: 0;
      &:hover,
      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }
  }

  // fixes v-align differences between <a> and <button>
  a.#{$prefix}button {
    display: inline-flex;
  }

  .#{$prefix}button__icon {
    height: 1.375rem;
    width: 1.375rem;
  }
}

@include exports('button') {
  @include button;
}
