// Button

@mixin button {
  .#{$prefix}button {
    box-sizing: border-box;
    display: inline-block;
    border: 0;
    background: transparent;
    text-align: center;
    vertical-align: top;
    outline: 0;
    cursor: pointer;
    min-height: 3rem;
    padding: 0;
  }
  .#{$prefix}button-primary {
    @include themify($themes) {
      color: themed('buttonText');
      background-color: themed('primary');

      &:hover,
      &:focus,
      &.#{$prefix}button-primary--hover {
        background-color: themed('hover');
        box-shadow: 0 0 5px 1px themed('primary');
      }
    }
    &:disabled,
    &.#{$prefix}button-primary--disabled {
      color: map-get($colormap-base, disabled);
      background-color: map-get($colormap-base, gray-lighter);
      cursor: not-allowed;
      outline: 0;

      &:hover,
      &:focus,
      &.#{$prefix}button-primary--hover {
        color: map-get($colormap-base, disabled);
        background-color: map-get($colormap-base, gray-lighter);
        outline: 0;
      }
    }
  }

  .#{$prefix}button-secondary {
    color: map-get($colormap-base, black);
    background-color: map-get($colormap-base, white);
    border: 2px solid;

    @include themify($themes) {
      border-color: themed('primary');
      &:hover,
      &:focus,
      &.#{$prefix}button-secondary--hover {
        background-color: themed('secondary');
        border-color: themed('buttonBorderSecondaryHover');
        color: themed('buttonTextSecondaryHover');
      }
    }

    &:disabled,
    &.#{$prefix}button-secondary--disabled {
      color: map-get($colormap-base, gray-lighter);
      background-color: map-get($colormap-base, white);
      border-color: map-get($colormap-base, gray-lighter);
      cursor: not-allowed;
      outline: 0;

      &:hover,
      &:focus,
      &.#{$prefix}button-secondary--hover {
        color: map-get($colormap-base, gray-lighter);
        background-color: map-get($colormap-base, white);
        border-color: map-get($colormap-base, gray-lighter);
        outline: 0;
      }
    }
  }

  .#{$prefix}button-tertiary {
    background-color: map-get($colormap-base, white);
    display: inline-block;
    display: flex;
    align-items: center;
    color: map-get($colormap-base, text-gray);

    @include themify($themes) {
      &:hover,
      &:focus,
      &.#{$prefix}button-tertiary--hover {
        color: themed('primary');
      }
    }

    &:hover .#{$prefix}button__text--tertiary,
    &:focus .#{$prefix}button__text--tertiary,
    &.#{$prefix}button-tertiary--hover .#{$prefix}button__text--tertiary {
      color: map-get($colormap-base, black);
    }

    &:disabled,
    &.#{$prefix}button-secondary--disabled {
      color: map-get($colormap-base, gray-lighter);
      outline: 0;
      cursor: not-allowed;
      &:hover,
      &:focus,
      &.#{$prefix}button-tertiary--hover {
        color: map-get($colormap-base, gray-lighter);
        outline: 0;
      }
    }
  }

  .#{$prefix}button-icon {
    width: 3rem;
  }

  .#{$prefix}button__text {
    @include typeset('special', 4);
    display: inline-block;
    padding: 0.25rem 1.125rem 0;
  }

  .#{$prefix}button__icon {
    height: 1.375rem;
    width: 1.375rem;
  }

  .#{$prefix}button__text--tertiary {
    @include typeset('normal', 4);
    color: map-get($colormap-base, text-gray);
    padding: 0 0 0 0.4375rem;
    vertical-align: middle; // for ie
  }

  .#{$prefix}button__icon--tertiary {
    margin: 0;
    vertical-align: middle; // for ie
  }

  .#{$prefix}button--full {
    display: block;
    width: 100%;
  }

  .#{$prefix}button--small {
    min-height: 2.5rem;
    .#{$prefix}button__text {
      @include typeset('special', 3);
      display: inline-block;
      padding: 0.25rem 1.125rem 0;
    }
  }

  // Input
  .#{$prefix}button--number-input {
    background-color: map-get($colormap-base, gray-lighter);
    padding: 0;
    width: 3rem;
    height: 3rem;
    font-size: 1.375rem;
    line-height: 1;
  }
}

@include exports('button') {
  @include button;
}
