//Button - base style

@mixin button {
  .#{$prefix}button {
    $height: 3rem;

    box-sizing: border-box;
    display: inline-block;
    border: 0;
    background: transparent;
    outline: 0;
    text-align: center;
    cursor: pointer;

    @extend %typo-special-4;
    line-height: $height; //line-height for button differs from %typo-special-4 line-height

    height: $height;
    padding: 0 1.125rem;
    //padding: 1px 1.125rem 0; //polished version: text visually v-align middle

    &.#{$prefix}button-primary {
      $id: 'button-primary';

      color: map-get($theme-color-map, $id);

      $bg-color: map-get($theme-background-color-map, $id);
      background-color: $bg-color;

      &:hover,
      &:focus,
      &.#{$prefix}button-primary--hover {
        background-color: map-get($theme-background-color-map, '#{$id}--hover');
      }

      &:disabled,
      &.#{$prefix}button-primary--disabled {
        color: map-get($theme-color-map, '#{$id}--disabled');
        background-color: map-get(
          $theme-background-color-map,
          '#{$id}--disabled'
        );
      }
    }

    &.#{$prefix}button-secondary {
      $id: 'button-secondary';

      color: map-get($theme-color-map, $id);

      $bg-color: map-get($theme-background-color-map, $id);
      background-color: $bg-color;

      border: solid 2px map-get($theme-border-color-map, $id);

      line-height: calc(#{$height} - 4px); //take border-width into account

      &:hover,
      &:focus,
      &.#{$prefix}button-secondary--hover {
        color: map-get($theme-color-map, '#{$id}--hover');
        background-color: map-get($theme-background-color-map, '#{$id}--hover');
        border-color: map-get($theme-background-color-map, '#{$id}--hover');
      }

      &:disabled,
      &.#{$prefix}button-secondary--disabled {
        color: map-get($theme-color-map, '#{$id}--disabled');
        background-color: map-get(
          $theme-background-color-map,
          '#{$id}--disabled'
        );
        border-color: map-get($theme-border-color-map, '#{$id}--disabled');
        cursor: not-allowed;
      }
    }
  }

  .#{$prefix}button--full {
    display: block;
    width: 100%;
  }
}

@include exports('button') {
  @include button;
}
