$themes: (
  zeppelin: (
    primary: map-get($colormap-base, indigo-blue), 
    hover: map-get($colormap-base, indigo-blue-lighter), 
    secondary: map-get($colormap-base, indigo-blue),
    buttonText: map-get($colormap-base, white), 
    buttonTextSecondaryHover: map-get($colormap-base, white),
    buttonBorderSecondaryHover: map-get($colormap-base, indigo-blue),
  ),
  cat: (
    primary: map-get($colormap-base, cat-yellow),
    hover: map-get($colormap-base, cat-yellow-lighter),
    secondary: map-get($colormap-base, cat-yellow-lightest),
    buttonText: map-get($colormap-base, black),
    buttonTextSecondaryHover: map-get($colormap-base, black),
    buttonBorderSecondaryHover: map-get($colormap-base, cat-yellow),
  ),
  rental: (
    primary: map-get($colormap-base, rental-red),
    hover: map-get($colormap-base, cat-yellow),
    secondary: map-get($colormap-base, cat-yellow-lightest),
    buttonText: map-get($colormap-base, white),
    buttonTextSecondaryHover: map-get($colormap-base, black),
    buttonBorderSecondaryHover: map-get($colormap-base, cat-yellow)
  ),
  // zlab: (
  //   primary: map-get($colormap-base, zlab-blue),
  //   hover: map-get($colormap-base, zlab-blue),
  //   secondary: map-get($colormap-base, zlab-blue),
  //   buttonText: map-get($colormap-base, black)
  // )
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
