@import '../guidelines/colors';

/* TODO: test and refactor */

$theme-color-map: (
  button-primary: map-get($colormap-base, white)
);

$theme-background-color-map: (
  button-primary: map-get($colormap-base, indigo-blue)
);
