// Select - base style

@mixin select {
  .#{$prefix}select__button {
    @extend %typo-normal-body1;
    width: 100%;
    height: 3rem;
    border: solid 2px
      map-deep-get($guidelines, 'color', gray, 'grayLighter', 'hex');
    background-color: map-deep-get($guidelines, 'color', gray, white, 'hex');
    padding-left: 1.25rem;
    padding-top: 0.25rem;
    appearance: none;
    border-radius: 0;
    text-align: left;
    @include themify($color_themes) {
      &:focus {
        border: 2px solid themed('primary');
        outline: none;
      }
    }
  }
  .#{$prefix}select__icon {
    float: right;
    width: 24px;
    height: 24px;
  }

  .#{$prefix}select__label {
    @extend %typo-normal-body1;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: map-deep-get($guidelines, 'color', gray, white, 'hex');
    color: map-deep-get($guidelines, 'color', gray, 'grayMidDark', 'hex');
    position: relative;
    padding: 0 8px;
    top: 10px;
    left: 10px;
    z-index: 10;
  }

  .#{$prefix}select__list {
    @extend %typo-normal-body1;
    background: map-deep-get($guidelines, 'color', gray, white, 'hex');
    @include themify($color_themes) {
      border: 2px solid themed('primary');
      outline: none;
    }
  }

  .#{$prefix}select__listitem {
    @extend %typo-normal-body1;
    padding: 10px 18px;
    outline: none;
    &:focus {
      background: map-deep-get(
        $guidelines,
        'color',
        gray,
        'grayLighter',
        'hex'
      );
    }
  }
}

@include exports('select') {
  @include select;
}
