// Select - base style

@mixin select {
  $color-label: map-deep-get($guidelines, 'color', black, 60);
  $color-white: map-deep-get($guidelines, 'color', 'global', white);

  .#{$prefix}select {
    position: relative;
  }

  .#{$prefix}select__button {
    @extend .#{$prefix}input;
    min-height: 3rem;
    height: auto;
    padding-right: 1.5rem;
    position: relative;
    appearance: none;
    border-radius: 0;
    text-align: left;
    overflow: hidden;
  }

  .#{$prefix}select__icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
  }

  .#{$prefix}select__label {
    @extend .#{$prefix}input-container__label;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 2;
  }

  .#{$prefix}select__list {
    @extend .#{$prefix}typo--body-default;
    background: $color-white;
    outline: none;
    border: 0.125rem solid $color-label;
    @include themify($color_themes) {
      border-color: themed('primary');
    }
  }

  .#{$prefix}select__listitem {
    padding: 0.625rem 1.125rem;
    outline: none;
  }
}

@include exports('select') {
  @include select;
}
