// Tabs - base style

@mixin tabs {
  .#{$prefix}tabs {
    width: 100%;
    display: table;
    table-layout: fixed;
  }

  .#{$prefix}tabs__item {
    display: table-cell;
    vertical-align: middle;
  }

  .#{$prefix}tab {
    @extend .#{$prefix}typo--body-default;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    border: none;
    border-bottom: 0.125rem solid transparent;
    background: transparent;
    outline: none;
    cursor: pointer;
    @include themify($color_themes) {
      @include hover-supported('focus') {
        border-color: themed('hover');
      }
    }

    > * {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .#{$prefix}tab--selected {
    @include themify($color_themes) {
      border-color: themed('primary');
    }
  }

  .#{$prefix}tab--small {
    @extend .#{$prefix}typo--body-default;
    text-transform: capitalize;
  }

  .#{$prefix}tab__icon {
    padding-right: 0.625rem;
  }
}

@include exports('tabs') {
  @include tabs;
}
