// Tabs - base style

@mixin tabs {
  .#{$prefix}tabs {
    width: 100%;
    display: table;
    table-layout: fixed;
  }

  .#{$prefix}tabs__item {
    display: table-cell;
    vertical-align: middle;
  }

  .#{$prefix}tab {
    @extend %typo-normal-body1;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    border: none;
    border-bottom: 2px solid transparent;
    background: transparent;
    outline: none;
    cursor: pointer;
    @include themify($color_themes) {
      &:hover,
      &:focus,
      &.#{$prefix}tab--selected {
        border-color: themed('primary');
      }
    }

    > * {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .#{$prefix}tab--small {
    @extend %typo-normal-body1;
    text-transform: capitalize;
  }

  .#{$prefix}tab__icon {
    padding-right: 10px;
  }
}

@include exports('tabs') {
  @include tabs;
}
