//Tag - base style

@mixin tag {
  .#{$prefix}tag {
    @extend %typo-normal-body1;
    box-sizing: border-box;
    display: inline-block;
    padding: 0.125rem 0.5rem;
    background-color: map-deep-get($theme, 'colors', gray, white, 'hex');
    color: map-deep-get($theme, 'typography', 'basics', 'fontColor', 'value');
    fill: map-deep-get($theme, 'typography', 'basics', 'fontColor', 'value');
    @include themify($color_themes) {
      border: 2px solid themed('primary');
      &:hover,
      &:focus,
      &.#{$prefix}tag--hover {
        background-color: themed('secondary');
        color: themed('buttonTextSecondaryHover');
        border-color: themed('buttonBorderSecondaryHover');

        .#{$prefix}tag__icon {
          color: themed('buttonTextSecondaryHover');
          fill: themed('buttonTextSecondaryHover');
        }
      }
    }
  }
  .#{$prefix}tag__button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
  }

  .#{$prefix}tag__icon {
    width: 12px;
    height: 12px;
    margin-left: 0.625rem;
    cursor: pointer;
    @include themify($color_themes) {
      color: themed('primary');
      fill: themed('primary');
    }
  }
}

@include exports('tag') {
  @include tag;
}
