//Tag - base style

@mixin tag {
  .#{$prefix}tag {
    box-sizing: border-box;
    display: inline-block;
    padding: 0.625rem;
    background-color: map-get($colormap-base, white);
    color: map-get($colormap-base, black);
    @include themify($themes) {
      border: 2px solid themed('primary');
      &:hover,
      &:focus,
      &.#{$prefix}tag--hover {
        background-color: themed('tagHover');
      }
    }
    img,
    i,
    svg {
      width: 12px;
      height: 12px;
      margin-left: 0.625rem;
      float: right;
      cursor: pointer;
      @include themify($themes) {
        color: themed('primary');
      }
    }
  }
}

@include exports('tag') {
  @include tag;
}
