* {
  box-sizing: border-box;
}

html,
body {
  font-size: $global-font-size;
  font-family: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, Segoe UI,
    Open Sans, Helvetica Neue, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*
 Hide content (a11y)
 https://snook.ca/archives/html_and_css/hiding-content-for-accessibility 
*/

.#{$prefix}visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);

  &:focus {
    position: static;
    width: auto;
    height: auto;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* END Hide content */

.zepicons {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
