$font-path: './fonts/';

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('#{$font-path}roboto-v18-latin-300.eot');
  src: local('Roboto Light'), local('Roboto-Light'),
    url('#{$font-path}roboto-v18-latin-300.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-path}roboto-v18-latin-300.woff2') format('woff2'),
    url('#{$font-path}roboto-v18-latin-300.woff') format('woff'),
    url('#{$font-path}roboto-v18-latin-300.ttf') format('truetype'),
    url('#{$font-path}roboto-v18-latin-300.svg#Roboto') format('svg');
}

/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('#{$font-path}roboto-v18-latin-italic.eot');
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('#{$font-path}roboto-v18-latin-italic.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-path}roboto-v18-latin-italic.woff2') format('woff2'),
    url('#{$font-path}roboto-v18-latin-italic.woff') format('woff'),
    url('#{$font-path}roboto-v18-latin-italic.ttf') format('truetype'),
    url('#{$font-path}roboto-v18-latin-italic.svg#Roboto') format('svg');
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}roboto-v18-latin-regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
    url('#{$font-path}roboto-v18-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-path}roboto-v18-latin-regular.woff2') format('woff2'),
    url('#{$font-path}roboto-v18-latin-regular.woff') format('woff'),
    url('#{$font-path}roboto-v18-latin-regular.ttf') format('truetype'),
    url('#{$font-path}roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('#{$font-path}roboto-v18-latin-500.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('#{$font-path}roboto-v18-latin-500.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-path}roboto-v18-latin-500.woff2') format('woff2'),
    url('#{$font-path}roboto-v18-latin-500.woff') format('woff'),
    url('#{$font-path}roboto-v18-latin-500.ttf') format('truetype'),
    url('#{$font-path}roboto-v18-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}roboto-v18-latin-700.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('#{$font-path}roboto-v18-latin-700.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-path}roboto-v18-latin-700.woff2') format('woff2'),
    url('#{$font-path}roboto-v18-latin-700.woff') format('woff'),
    url('#{$font-path}roboto-v18-latin-700.ttf') format('truetype'),
    url('#{$font-path}roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}roboto-condensed-v18-latin-regular.eot');
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
    url('#{$font-path}roboto-condensed-v18-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-path}roboto-condensed-v18-latin-regular.woff2') format('woff2'),
    url('#{$font-path}roboto-condensed-v18-latin-regular.woff') format('woff'),
    url('#{$font-path}roboto-condensed-v18-latin-regular.ttf')
      format('truetype'),
    url('#{$font-path}roboto-condensed-v18-latin-regular.svg#RobotoCondensed')
      format('svg'); /* Legacy iOS */
}

/* roboto-condensed-700 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}roboto-condensed-v18-latin-700.eot');
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
    url('#{$font-path}roboto-condensed-v18-latin-700.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-path}roboto-condensed-v18-latin-700.woff2') format('woff2'),
    url('#{$font-path}roboto-condensed-v18-latin-700.woff') format('woff'),
    url('#{$font-path}roboto-condensed-v18-latin-700.ttf') format('truetype'),
    url('#{$font-path}roboto-condensed-v18-latin-700.svg#RobotoCondensed')
      format('svg');
}
