//Input - base style

@mixin input {
  .#{$prefix}input {
    @extend %typo-normal-body1;
    width: 100%;
    height: 3rem;
    border: solid 2px map-deep-get($guidelines, 'color', 'global' white);
    padding-left: 1.25rem;
    padding-top: 0.25rem;
    @include themify($color_themes) {
      &:focus {
        outline: 2px solid themed('primary');
      }
    }
  }

  .#{$prefix}input--number {
    width: 3rem;
    height: 3rem;
    margin-left: 0.125rem;
    margin-right: 0.125rem;
    text-align: center;
    padding-left: 0;
  }

  .#{$prefix}input-container {
    position: relative;
  }

  .#{$prefix}input-container__label {
    @extend %typo-normal-caption;
    color: map-deep-get($guidelines, 'color', 'global', lightGray);
    position: absolute;
    display: inline-block;
    background-color: white;
    margin: 0 0.5625rem;
    padding: 0 0.5625rem;
    left: 0;
    top: -0.5rem;
  }

  .#{$prefix}input:placeholder-shown + .#{$prefix}input-container__label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    top: 1.2rem;
    transform: scale(1.5);
    color: map-deep-get($guidelines, 'color', 'global', lightGray);
  }

  .#{$prefix}input:not(:placeholder-shown) + .#{$prefix}input-container__label,
  .#{$prefix}input:focus + .#{$prefix}input-container__label {
    top: -0.5rem;
    transform: scale(1);
    cursor: pointer;
  }

  .#{$prefix}input,
  .#{$prefix}input-container__label {
    transition: all 0.2s;
    touch-action: manipulation;
  }

  .#{$prefix}input-container__feedback {
    display: none;
    @extend %typo-normal-caption;
    padding-top: 0.3125rem;
  }

  .#{$prefix}input-container--error {
    .#{$prefix}input {
      border-color: map-deep-get($guidelines, 'color', 'support', 'alert');
    }

    .#{$prefix}input-container__feedback {
      display: inline-block;
      color: map-deep-get($guidelines, 'color', 'support', 'alert');
    }
  }
}

@include exports('input') {
  @include input;
}
