//Input - base style

@mixin input {
  $color-alert: map-deep-get($guidelines, 'color', 'support', 'alert');
  $color-label: map-deep-get($guidelines, 'color', black, 60);
  $color-disabled: map-deep-get($guidelines, 'color', black, 40);
  $color-white: map-deep-get($guidelines, 'color', 'global', white);

  .#{$prefix}input {
    @extend .#{$prefix}typo--body-default;
    width: 100%;
    height: 3rem;
    border: solid 0.125rem $color-label;
    padding-left: 1.25rem;
    padding-top: 0.25rem;
    color: map-deep-get($guidelines, 'color', 'font');
    background-color: $color-white;

    &:focus {
      outline: 0.125rem solid $color-label;
      border: solid 0.0625rem $color-disabled;
      @include themify($color_themes) {
        outline: 0.125rem solid themed('primary');
      }
    }

    &:disabled {
      cursor: not-allowed;
      border-color: $color-disabled;
    }
  }

  .#{$prefix}input--number {
    width: 3rem;
    height: 3rem;
    margin-left: 0.125rem;
    margin-right: 0.125rem;
    text-align: center;
    padding-left: 0;
  }

  .#{$prefix}input-container {
    position: relative;
  }

  .#{$prefix}input-container__label {
    @extend .#{$prefix}typo--body-extra-small;
    text-transform: none;
    color: $color-label;
    position: absolute;
    display: inline-block;
    background-color: $color-white;
    margin: 0 0.5625rem;
    padding: 0 0.5625rem;
    left: 0;
    top: 0;
    transform: translateY(-50%);
  }

  .#{$prefix}input:placeholder-shown + .#{$prefix}input-container__label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    top: 1.2rem;
    transform: scale(1.5);
    color: $color-label;
  }

  .#{$prefix}input:not(:placeholder-shown) + .#{$prefix}input-container__label,
  .#{$prefix}input:focus + .#{$prefix}input-container__label {
    top: 0;
    transform: translateY(-50%) scale(1);
    //cursor: pointer;
  }

  .#{$prefix}input:disabled + .#{$prefix}input-container__label {
    background-color: map-deep-get($guidelines, 'color', 'global', white);
    color: $color-disabled;
    pointer-events: none;
  }

  .#{$prefix}input,
  .#{$prefix}input-container__label {
    transition: all 0.2s;
    touch-action: manipulation;
  }

  .#{$prefix}input-container__feedback {
    display: none;
    @extend .#{$prefix}typo--body-extra-small;
    padding-top: 0.3125rem;
  }

  .#{$prefix}input-container--error {
    .#{$prefix}input {
      border-color: $color-alert;
    }

    .#{$prefix}input-container__feedback {
      display: inline-block;
      color: $color-alert;
    }
  }
}

@include exports('input') {
  @include input;
}
