//List - base style

@mixin list {
  .#{$prefix}list {
    @extend %typo-normal-body1;
    color: map-get($colormap-base, text-black);
    margin-left: 1rem;
  }

  //Bullet List / default
  .#{$prefix}list__item {
    list-style-type: square;
    padding: 0.25rem 0;
  }

  // Attribute List
  .#{$prefix}list__item--attribute {
    @extend %typo-normal-body1;
    color: map-get($colormap-base, text-black);
    list-style-type: none;
    margin-left: -1rem;
  }
  .#{$prefix}list__label {
    @extend %typo-normal-caption;
    color: map-get($colormap-base, text-black);
    text-transform: uppercase;
    padding-right: 4rem;
  }
}

@include exports('list') {
  @include list;
}
