//List - base style

@mixin list {
  .#{$prefix}list {
    @extend %typo-normal-3;
    color: get('colors.gray.textGray.hex');
    margin-left: 1rem;
  }

  //Bullet List / default
  .#{$prefix}list__item {
    list-style-type: square;
    padding: 0.25rem 0;
  }

  // Attribute List
  .#{$prefix}list__item--attribute {
    @extend %typo-normal-4;
    color: get('colors.gray.grayDark.hex');
    list-style-type: none;
    margin-left: -1rem;
  }
  .#{$prefix}list__label {
    @extend %typo-normal-1;
    color: get('colors.gray.grayLight.hex');
    text-transform: uppercase;
    padding-right: 4rem;
  }
}

@include exports('list') {
  @include list;
}
