@font-face {
  font-family: zepicons;
  src: url(assets/fonts/zepicons.eot?#iefix) format('embedded-opentype'),
    url(assets/fonts/zepicons.woff) format('woff'),
    url(assets/fonts/zepicons.woff2) format('woff2'),
    url(assets/fonts/zepicons.ttf) format('truetype'),
    url(assets/fonts/zepicons.svg#zepicons) format('svg');
}
.zepicons {
  line-height: 1;
}
.zepicons:before {
  font-family: zepicons !important;
  font-style: normal;
  font-weight: 400 !important;
  vertical-align: top;
}
.zepicons-account:before {
  content: '\f101';
}
.zepicons-add-cart:before {
  content: '\f102';
}
.zepicons-add-solution:before {
  content: '\f103';
}
.zepicons-attachment:before {
  content: '\f104';
}
.zepicons-average:before {
  content: '\f105';
}
.zepicons-bell:before {
  content: '\f106';
}
.zepicons-bookmark:before {
  content: '\f107';
}
.zepicons-br:before {
  content: '\f108';
}
.zepicons-briefcase:before {
  content: '\f109';
}
.zepicons-calendar-clock:before {
  content: '\f10a';
}
.zepicons-calendar-range:before {
  content: '\f10b';
}
.zepicons-camera:before {
  content: '\f10c';
}
.zepicons-cart:before {
  content: '\f10d';
}
.zepicons-cat-new:before {
  content: '\f10e';
}
.zepicons-cat-service:before {
  content: '\f10f';
}
.zepicons-cat-used:before {
  content: '\f110';
}
.zepicons-chat:before {
  content: '\f111';
}
.zepicons-check:before {
  content: '\f112';
}
.zepicons-chevron-down:before {
  content: '\f113';
}
.zepicons-chevron-left:before {
  content: '\f114';
}
.zepicons-chevron-right:before {
  content: '\f115';
}
.zepicons-chevron-up:before {
  content: '\f116';
}
.zepicons-clock:before {
  content: '\f117';
}
.zepicons-close:before {
  content: '\f118';
}
.zepicons-compare:before {
  content: '\f119';
}
.zepicons-contact-mail:before {
  content: '\f11a';
}
.zepicons-contacts:before {
  content: '\f11b';
}
.zepicons-copy:before {
  content: '\f11c';
}
.zepicons-crosshair:before {
  content: '\f11d';
}
.zepicons-delete:before {
  content: '\f11e';
}
.zepicons-direction:before {
  content: '\f11f';
}
.zepicons-dots-horizontal:before {
  content: '\f120';
}
.zepicons-dots-vertical:before {
  content: '\f121';
}
.zepicons-download:before {
  content: '\f122';
}
.zepicons-dropdown:before {
  content: '\f123';
}
.zepicons-edit:before {
  content: '\f124';
}
.zepicons-email:before {
  content: '\f125';
}
.zepicons-expand:before {
  content: '\f126';
}
.zepicons-facebook:before {
  content: '\f127';
}
.zepicons-file-document:before {
  content: '\f128';
}
.zepicons-file:before {
  content: '\f129';
}
.zepicons-filter:before {
  content: '\f12a';
}
.zepicons-flag:before {
  content: '\f12b';
}
.zepicons-gb:before {
  content: '\f12c';
}
.zepicons-ger:before {
  content: '\f12d';
}
.zepicons-global:before {
  content: '\f12e';
}
.zepicons-googleplus:before {
  content: '\f12f';
}
.zepicons-headset:before {
  content: '\f130';
}
.zepicons-help:before {
  content: '\f131';
}
.zepicons-hide:before {
  content: '\f132';
}
.zepicons-home:before {
  content: '\f133';
}
.zepicons-image-album:before {
  content: '\f134';
}
.zepicons-image:before {
  content: '\f135';
}
.zepicons-in:before {
  content: '\f136';
}
.zepicons-info:before {
  content: '\f137';
}
.zepicons-instagram:before {
  content: '\f138';
}
.zepicons-it:before {
  content: '\f139';
}
.zepicons-kununu:before {
  content: '\f13a';
}
.zepicons-link:before {
  content: '\f13b';
}
.zepicons-linkedin:before {
  content: '\f13c';
}
.zepicons-list-plus:before {
  content: '\f13d';
}
.zepicons-logout:before {
  content: '\f13e';
}
.zepicons-map-marker:before {
  content: '\f13f';
}
.zepicons-map:before {
  content: '\f140';
}
.zepicons-menu:before {
  content: '\f141';
}
.zepicons-minus:before {
  content: '\f142';
}
.zepicons-navigation-dropdown:before {
  content: '\f143';
}
.zepicons-next-page:before {
  content: '\f144';
}
.zepicons-open-in-new:before {
  content: '\f145';
}
.zepicons-phone:before {
  content: '\f146';
}
.zepicons-plus:before {
  content: '\f147';
}
.zepicons-previous-page:before {
  content: '\f148';
}
.zepicons-print:before {
  content: '\f149';
}
.zepicons-ps-ps:before {
  content: '\f14a';
}
.zepicons-ps-service:before {
  content: '\f14b';
}
.zepicons-ps-used:before {
  content: '\f14c';
}
.zepicons-reload:before {
  content: '\f14d';
}
.zepicons-rental-infrastructure:before {
  content: '\f14e';
}
.zepicons-rental-logistics:before {
  content: '\f14f';
}
.zepicons-rental-rent:before {
  content: '\f150';
}
.zepicons-ru:before {
  content: '\f151';
}
.zepicons-sa:before {
  content: '\f152';
}
.zepicons-search:before {
  content: '\f153';
}
.zepicons-settings:before {
  content: '\f154';
}
.zepicons-sg:before {
  content: '\f155';
}
.zepicons-share:before {
  content: '\f156';
}
.zepicons-show:before {
  content: '\f157';
}
.zepicons-solutions:before {
  content: '\f158';
}
.zepicons-sort:before {
  content: '\f159';
}
.zepicons-star:before {
  content: '\f15a';
}
.zepicons-systems-aviation:before {
  content: '\f15b';
}
.zepicons-systems-products:before {
  content: '\f15c';
}
.zepicons-systems-service:before {
  content: '\f15d';
}
.zepicons-systems-systems:before {
  content: '\f15e';
}
.zepicons-timer:before {
  content: '\f15f';
}
.zepicons-twitter:before {
  content: '\f160';
}
.zepicons-unfold:before {
  content: '\f161';
}
.zepicons-upload:before {
  content: '\f162';
}
.zepicons-user-edit:before {
  content: '\f163';
}
.zepicons-user:before {
  content: '\f164';
}
.zepicons-users:before {
  content: '\f165';
}
.zepicons-view-grid:before {
  content: '\f166';
}
.zepicons-warning:before {
  content: '\f167';
}
.zepicons-xing:before {
  content: '\f168';
}
.zepicons-youtube:before {
  content: '\f169';
}
.zepicons-zoom-in:before {
  content: '\f16a';
}
.zepicons-zoom-out:before {
  content: '\f16b';
}
