@mixin numberinput {
  .#{$prefix}numberinput {
    > * {
      vertical-align: middle;

      &.#{$prefix}button-icon {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

@include exports('numberinput') {
  @include numberinput;
}
